@font-face {
    font-family: dragon;
    src: url("Dragon is coming.otf");
}

.imput-rapi
{
  width: 100px;
  height: 70px;
  text-align: center;
  font-size: 40px;
}

.imput-rapi-button
{
  width: 200px;
  height: 70px;
  text-align: center;
  font-size: 25px;
}

#main
{
  margin-top: 10%;
}

#header
{
  margin-bottom: 30px;
}

.header-title
{
  text-align: center;
}

.header-title .header-title-cursive
{
  font-family: "dragon";
  font-size: 60px;
}


.header-title .header-title-title
{
  font-size: 70px;
  color: rgb(63, 191, 111);
  background-color: rgb(240, 240, 89);
}

#table-1
{
  display: none;

}
